.work { 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    height: 600px;
    /* scroll-snap-align: start; */
    text-decoration: none;
    font-size: 20px;
    color: var(--white-col);
   
}

.top-row{
    display: flex;
    flex-direction: row;
}

.menu{
    padding-left: 20px;
    width:30%
}

.title{
    color:#1976d2;
    text-align: left;
    padding-top: 0;
    margin-left: 100px;
    width: 400px;
    height: 100px;
    font-size: 40px;
    display: flex;

}

.menu{
    padding-left: 20px;
    width:30%
}

