:root {
  --bg-color : #24527a;
  --med-blue : #5dacbd;
  --light-blue: #a7bcb9;
  --white-col: #e0ebeb;
}


html{
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;

}
.App { 

  scroll-snap-type: mandatory;
}

